$color1: rgba(247, 154, 190, 0.44);
$color2: rgba(254, 121, 172, 0.44);
$color3: rgba(191, 154, 246, 0.44);
$color4: rgba(173, 121, 252, 0.44);
$color5: rgba(145, 227, 232, 0.44);
$color6: rgba(81, 186, 192, 0.44);
$color7: rgba(251, 195, 151, 0.44);
$color8: rgba(230, 165, 116, 0.44);
$colorclear: rgba(230, 165, 116, 0);
$border-solid: solid;
$border-width: 2px;
$border-radius: 25px;
$stdButtonColor:  rgba(211, 105, 158, 0.829);
$stdButtonColorHover: rgb(206, 100, 153);

html {
    width: 100vw;
}

body {
    width: 100vw;
    background: rgb(206, 232, 240);

    background: url("images/beach.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a {
    // color: purple
    color: rgb(206, 100, 153);
}
a:hover {
    color: rgb(164, 74, 119);
}

form {
    max-width: 700px;
    margin: auto;
    // padding: 5px;
    // background: rgba(225, 225, 225, 0.44);
    // border-radius: 25px;
}

.outer-div {
    border-radius: 6px;
}

form div {
    // width: 100%;
    padding: 5px 30px;
    margin-bottom: 5px;
    background: rgba(255, 255, 255, 0.803);
    background: rgba(255, 255, 255, 0.68);
    background: rgba(255, 255, 255, 0.756);
    -webkit-box-shadow: 3px 4px 5px -5px #000000; 
    box-shadow: 3px 4px 5px -5px #000000;
    // background: rgba(255, 255, 255, 0.913);
}

.header-text {
    // background:rgba(230, 225, 216, 0.226);
    background: pink;
    padding: 4px 20px;
    color: white;
    border-radius: 50%;
    border-bottom: solid;
    border-width: 2px;
    // border-color: rgba(194, 50, 146, 0.824);
}

form label {
}

.content-container {
    width: fit-content;
    margin: auto;
    padding: 20px;
}

form .input-element {
    display: block;
    min-height: 24px;
    width: 100%;
    border: none;
    border-radius: 6px;
    background: rgba(242, 242, 242, 0.808);

    background: rgba(255, 255, 255, 0.92);
    border-radius: 8px;

    -webkit-autofill: rgba(242, 242, 242, 0.808);
    -webkit-autofill-selected: rgba(242, 242, 242, 0.808);
    -webkit-box-shadow: none;
    outline: none;
}

form select {
    display: block;
    min-height: 24px;
    width: 100%;
    border: none;
    border-radius: 6px;
    background: rgba(242, 242, 242, 0.808);

    background: rgba(255, 255, 255, 0.92);
    border-radius: 8px;

    -webkit-autofill: rgba(242, 242, 242, 0.808);
    -webkit-autofill-selected: rgba(242, 242, 242, 0.808);
    -webkit-box-shadow: none;
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}


.el-color-1 {
    border: $border-solid;
    border-width: $border-width;
    border-radius: $border-radius;
    border-color: $color1;
}

.el-color-2 {
    border: $border-solid;
    border-width: $border-width;
    border-radius: $border-radius;
    border-color: $color2;
}

.el-color-3 {
    border: $border-solid;
    border-width: $border-width;
    border-radius: $border-radius;
    border-color: $color3;
}

.el-color-4 {
    border: $border-solid;
    border-width: $border-width;
    border-radius: $border-radius;
    border-color: $color4;
}

.el-color-5 {
    border: $border-solid;
    border-width: $border-width;
    border-radius: $border-radius;
    border-color: $color5;
}

.el-color-6 {
    border: $border-solid;
    border-width: $border-width;
    border-radius: $border-radius;
    border-color: $color6;
}

.el-color-7 {
    border: $border-solid;
    border-width: $border-width;
    border-radius: $border-radius;
    border-color: $color7;
}

.el-color-8 {
    border: $border-solid;
    border-width: $border-width;
    border-radius: $border-radius;
    border-color: $color8;
}

.el-color-clear {
    border: $border-solid;
    border-width: $border-width;
    border-radius: $border-radius;
    border-color: $colorclear;
}

.page-header {
    font-family: 'Avantgarde', 'TeX Gyre Adventor', 'URW Gothic L', 'sans-serif';
    font-style: italic;
    color: white;
    // padding: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    width: fit-content;
    margin: auto;
    // min-width: fit-content;
}

label {
    font-size: 13px;
    margin-bottom: 0px;
}

.radio-label {
    display: inline-block;
    width: auto;
    vertical-align: bottom;
    margin-right: 10px;
}

input + .radio-element{
    display: block;
    width: auto;
    margin-right: 10px !important;
    width: auto !important;
}

.inner-container {
    display: inline-block;
    width: auto;
    width:max-content fit-content;
    max-width: 60%;
    min-width: 50%;
    -webkit-box-shadow: 0px 0px 0px 0px #000000 !important; 
    box-shadow: 0px 0px 0px 0px #000000 !important;
}

input[type=file]::file-selector-button {
    background: white;
    color: rgb(206, 100, 153);
    border: solid;
    border-width: 1px;
    // border-color: rgb(206, 100, 153); 
    border-color: inherit;
    border-radius: 10px;
}

input[type=file] {
    display: block;
    font-size: .8em;
}

button {
    background: $stdButtonColor !important;
    border: none !important;
    border-color: white !important;
}

/* alt
button {
    background: white !important;
    border-color: $stdButtonColor !important;
    color: $stdButtonColor !important;
} */

button:hover {
    background: $stdButtonColorHover !important;
}

.footerContainer {
    width: 100%;

}

form .footer {
    background:none;

}

form .inner-footer {
    background:none;
    -webkit-box-shadow: 0px 0px 0px 0px #000000 !important; 
    box-shadow: 0px 0px 0px 0px #000000 !important;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #mod-body {
      width: 100%;
  }
  .mod-list {
      display: inline-block;
      color: $stdButtonColorHover;
      width: auto;
      margin-right: 20px;
  }

  .submitted {
        display: block;
        min-height: 24px;
        width: 100%;
        border: none;
        border-radius: 6px;
        padding: 10px;
        background: rgba(242, 242, 242, 0.808);
    
        background: rgba(255, 255, 255, 0.651);
        border-radius: 8px;
    
        -webkit-autofill: rgba(242, 242, 242, 0.808);
        -webkit-autofill-selected: rgba(242, 242, 242, 0.808);
        -webkit-box-shadow: none;
        outline: none;
  }

  .x-navbar.x-navbar-fixed-top.x-container.max.width {
    width: 100%;
}

.bullet {
    // vertical-align:3px;
    font-size: 28px;
}

.radio-btn {
    vertical-align:text-bottom;
}

/* responsiveness */

@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(206, 232, 240);

    }
    .inner-container {
        max-width: 100%;
    }
    .radio-label {
        max-width: 100%;
    }

    .header-text {
        font-size: 30px;
    }
  }

  @media only screen and (max-width: 330px) {
    .header-text {
        font-size: 26px;
    }
}

  @media only screen and (min-width: 601px) {
    body {
      background-color: #d0e2ecd2;
    }
  }